.swiper-pagination-progressbar {
  bottom: auto !important;
  top: 68px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: rgb(239 68 68);
  height: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(239 68 68);
}

@media (max-width: 767px) {
  .swiper-pagination-progressbar {
    bottom: auto !important;
    top: 64px !important;
  }
}
